*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(188, 223, 255);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.div-container{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
}
.div-line{
    display: flex;
    flex: auto;
    align-items: stretch;
}
.div-square{
    background-color: rgb(255, 255, 255);
    flex: 1;
}

.hovered{
    background-color: rgb(255, 75, 75);
}

#btn1{
    background-color: #2b2b2b; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}